img {
    width:300px;
}
.hornImages{
    float:left;
    height:188px;
    margin:4%;
    margin-bottom:15%;
    font-size:10px;
}
p{
    /* visibility: hidden; */
    overflow: hidden;
    width:188px;
}

footer{
clear:both;
}

